.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.nav-link {
    color: #333 !important;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #0d6efd;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about-img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #0d6efd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#about h2 {
    color: #0cca1c;
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

#about h2:hover {
    color: #d31847;
    text-shadow: 0 0 5px rgba(209, 24, 71, 0.5);
    box-shadow: 0 12px 25px rgba(2, 194, 114, 0.2);

}

.mission {
    background-color: #030303;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(2, 194, 114, 0.2);
}

.p-4.bg-white {
    transition: 0.3s ease;
    cursor: pointer;
    background-color: aqua !important;
    text-shadow: 0 0 5px rgba(2, 194, 114, 0.5);

}

.p-4.bg-white h5 {
    color: #e42444;
}

.p-4.bg-white p {
    color: #e01818;
}

.p-4.bg-white:hover {
    box-shadow: 0 12px 25px rgba(2, 194, 114, 0.2);
    transform: translateY(-5px);
}


.service-card {
    border: none !important;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#services h2 {
    color: #0cca1c;
    font-size: 2.5rem;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

#services h2:hover {
    color: #d31847;
    text-shadow: 0 0 5px rgba(209, 24, 71, 0.5);
    box-shadow: 0 12px 25px rgba(2, 194, 114, 0.2);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.icon-box {
    width: 50px;
    height: 50px;
    background-color: #eef2ff;
    color: #0d6efd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
}

.service-card h5 {
    font-size: 1.1rem;
    color: #333;
}

.form-control {
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.form-control:focus {
    background-color: #d4c5c5;
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.form-control::placeholder {
    color: #d11121;
    opacity: 1;
}

.form-control:hover {
    background-color: #e2e6ea;
    box-shadow: 10px 5px 5px red;
}

form {
    background-color: #ffffff;
    transition: 0.3s ease;
}


form:hover {
    background-color: #f1f9ff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #2ecf0e;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #d31847;
    box-shadow: 0 4px 15px rgba(40, 167, 69, 0.5);
}

#contact h2 {
    color: #04cc04;
    font-size: 2rem;
    margin-bottom: 20px;
}

#contact h2:hover {
    color: #d31847;
    text-shadow: 0 0 5px rgba(209, 24, 71, 0.5);
}

.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.feedback-card {
    background: #fff;
    border-radius: 12px;
    transition: 0.3s ease;
}

.feedback-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.rating i {
    color: #ffc107;
}

.rating i:hover {
    color: #d31847;
    text-shadow: 0 0 5px rgba(209, 24, 71, 0.5);
}

.list-unstyled li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.list-unstyled li:hover {
    color: #fd0d21;
}

.social-links a:hover {
    color: #fd0d49 !important;
}

.footer {
    background-color: #12dd34 !important;
    color: #fff;
}